@font-face{
  font-family: 'Louis-George';
  src: url('Louis-George-Cafe.ttf');
}


body.dark-mode {
  background-color: black;
  color: white;
  font-family: 'Louis-George';
  text-decoration: none;
  text-decoration-color: white;

  button{
    background-color: white;
    color: black;
  }

  h1{
  color: white;
  font-family: 'Louis-George';
  text-align: center;
  }

  h2 {
    color: white;
    font-family: 'Louis-George';
  }

  h3{
    color: white;
    font-family: 'Louis-George';
    font-size: 20px;
    font-style: italic;
  }
  
  h4 {
    color: white;
    font-family: 'Louis-George';
    font-size: 10px;
  }
  
  a{
    color: white;
    text-decoration: none;
  }
}

body.light-mode {

  background-color: #e8e8e8;
  color: #000863;
  font-family: 'Louis-George';
  text-decoration: none;


  h3{
    color: #000863;
    font-family: 'Louis-George';
    font-size: 20px;
    font-style: italic;
  }

  
  a{
    color: #000863;
    text-decoration: none;
  }
}


table.main{
  /*border-top: 3px solid #000863;
  border-bottom: 3px solid #000863;*/
  border-spacing: 50px 0em;
	/*margin: auto;*/
}

.mainTable{
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%); 
}

.infotable{
  margin: 0;
  position: absolute;
  top: 70%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

.about:hover{
	text-decoration: underline;
	text-decoration-color: #000863;
}

.projects:hover{
	text-decoration: underline;
	text-decoration-color: #000863;
}

.contact:hover{
	text-decoration: underline;
	text-decoration-color: #000863;
}

.buttons{
  margin: 0;
  position: absolute;
  top: 95%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

.buttonCss {
  background-color: Transparent;
  background-repeat:no-repeat;
  border: none;
}
