

/*body{
  /*background: rgb(238,174,202);
  background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
  background: #e8e8e8;
}*/
@font-face{
  font-family: 'aldora';
  src: url('Anson-Regular.otf');
}


body.dark-mode {
  background-color: black;
  color: white;
  font-family: 'aldora';
  text-decoration: none;
  text-decoration-color: white;

  button{
    background-color: white;
    color: black;
  }

  h1{
  color: white;
  font-family: 'aldora';
  text-align: center;
  }

  h2 {
    color: white;
    font-family: 'aldora';
  }

  h3{
    color: white;
    font-family: 'aldora';
    font-size: 20px;
    font-style: italic;
  }
  
  h4 {
    color: white;
    font-family: 'aldora';
    font-size: 10px;
  }
  
  a{
    color: white;
    text-decoration: none;
  }
}

body.light-mode {

  background-color: #e8e8e8;
  color: #000863;
  font-family: 'aldora';
  text-decoration: none;


  /*h1{
  /*color: #000863;
  font-family: 'aldora';
  text-align: center;
  }

  h2 {
    color: #000863;
    font-family: 'aldora';
  }*/

  h3{
    color: #000863;
    font-family: 'aldora';
    font-size: 20px;
    font-style: italic;
  }
  
  /*h4 {
    color: white;
    font-family: 'aldora';
    font-size: 10px;
  }*/
  
  a{
    color: #000863;
    text-decoration: none;
  }
}

@font-face{
  font-family: 'aldora';
  src: url('Anson-Regular.otf');
}

table.main{
  /*border-top: 3px solid #000863;
  border-bottom: 3px solid #000863;*/
  border-spacing: 50px 0em;
	/*margin: auto;*/
}

.mainTable{
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%); 
}

.infotable{
  margin: 0;
  position: absolute;
  top: 70%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

.about:hover{
	text-decoration: underline;
	text-decoration-color: #000863;
}

.projects:hover{
	text-decoration: underline;
	text-decoration-color: #000863;
}

.contact:hover{
	text-decoration: underline;
	text-decoration-color: #000863;
}

.buttons{
  margin: 0;
  position: absolute;
  top: 95%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

.buttonCss {
  /*background-color:   #686868; /* Green */
  background-color: Transparent;
  background-repeat:no-repeat;
  border: none;
  /*color: white; 
  border-radius: 5px;
  font-family: 'aldora';*/
}
